<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Hello Flask{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">
    {% endblock stylesheets %}
</head>
<body>
    {% block body %}
        <div class="container">
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
        </div>
    {% endblock body %}

    {% block javascripts %}
        <script src="{{  url_for('static', filename='bootstrap.bundle.min.js') }}"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    {% endblock javascripts %}
</body>
</html>
